<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.android.quickveggis">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.developer.android.quickveggis.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name="com.developer.android.quickveggis.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.Walk1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.PayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.ProductActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.ProductsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.TrackingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SurveyVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.UnlockedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.CartSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.CheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.TaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.OfflineRedeemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.CartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.ConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SemiTransparent" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.SupportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.developer.android.quickveggis.ui.activity.GroupCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!--<meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />-->
        <service
            android:name="com.developer.android.quickveggis.service.NotificationExtenderBareBonesExample"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <meta-data android:name="AA_DB_NAME" android:value="StevenVeggis.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="com.developer.android.quickveggis.model.NotificationModel" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2adcac519ed859cb15026aaf281060a4f5e4b3ce" />
    </application>

</manifest>